/* NAVIGATION STUFF GOES HERE  */


#headerWrapper {
    
    right: 0%;
    button{
            display: none;
            
        }
        ul#navMenu{
            justify-content: left;
            background: linear-gradient($secondaryColor 55%, $primaryColor);
                                   a{
                border: none;
            }
        }
    ul, ul.classOpen{
            position: relative;
            width: 100%;
            display: flex;            
            margin-bottom: 0;
            li{
                transition: all 3s ease-in;

            }

            li a{
                    border: none;
                    margin: 0;
                    width: auto;
                    
            }
            ul#navMenu{
                    text-align: right;
                    justify-content: right;

                    max-width: 75px;
                    width: 25px;
            }
            ul#navMenu.classOpen{
                    position: relative; //moves menu over to right when button is active
                    
            }
    }

}
header{
    
    display: inherit;

h1{
    margin-top: -135px;
    h2{
        margin-left: 25px;
    }
}}

    nav ul li.active a{
        background-color: lighten($primaryColor, 5%);
        color: lighten($secondaryColor, 40%);
        
        
    }
    ul#navMenu.classOpen{
            z-index: 1;
            top: 5%;
            
        }
        ul#navMenu{
                border: none;
            position: inherit;
            overflow: hidden;

    /* visibility: hidden; */
    width: 64rem;
    margin-top:80px;
    background: #fff;
    transition: all .2s ease;
    transform: translateY(-15px);
    z-index: 1000;


            
        }



//pushes menu to be above other page sections
ul#navMenu.classOpen{
    z-index: 3;
    width: 100%;
    right: 0;
    top: 5%;

}

    nav ul li.active a{
        background-color: lighten($primaryColor, 35%);
        color: lighten($secondaryColor, 40%);
    }

    nav ul li {width: auto;}

    nav ul li a{padding: .5rem 1rem;}


    /*End Nav*/
main{
    @for $i from 1 through 4{
        $w:($i/4)*100%;
        .medium-#{$i}{flex-basis: $w;}
    }
    }

picture {

    margin: 0;

    max-width: 1200px;
    height: 100%;

img{
    background-position: center;
    margin-top: 0;
    padding: 0;
}}
main img{
    margin-top: 4vh;
}


//cards start
div a.fa-solid.fa-suitcase-rolling::before{
    width: 25%;
    height: 500vw;
    color: #eee;

}
.fa-solid{
    flex-basis: 25%;
}
div.icon{
    display: block;
} 
div{display: block;}

div.cards{
    display:grid;
    grid-template-columns: 1fr 1fr;
    columns: 2;
    column-count: 2;
    column-span: 2;
    flex-direction: column;
    column-count: 2;
    contain: content;
    justify-content: center;
    width: 100%;
    margin: 2px;

    div a {
        justify-content: center;
        width: 100%;
        height: 500px;
        text-decoration: none;
        padding: 0, 2%;
        transition: all .5s ease-in;
        text-align: center;
        font-size: 50px;
        padding-top: 9%;
    }

div:nth-child(1){
    background-image: url(../images/hotelsmall.jpg);//connects with div a for width...
    background-repeat: no-repeat;
    background-size: 500px;
    margin: 2%;
}

div:nth-child(1) a{
    background-color: #5D8F54;
    display: block;
    color: white;
}
div:nth-child(2){
    background-image: url(../images/planeSmall.jpg);
    background-repeat: no-repeat;
    background-size: 500px;
    margin: 2%;    
}
div:nth-child(2) a{
    background-color: #60DADB;
    color: white;
    display: block;
    

}
div:nth-child(3) a{
    background-color: #86DB76;
    color: white;

}
div:nth-child(3){
    background-image: url(../images/WayneTowerSmall.jpg);
    background-repeat: no-repeat;
    background-size: 500px;
    margin: 2%;
}
div:nth-child(4){
    background-image: url(../images/taxiSmall.jpg);
    background-repeat: no-repeat;
    background-size: 500px;
    margin: 2%;
}
div:nth-child(4) a{
    background-color: #388E8F;
    color: white;
}

div a:hover{
    background: none;
    text-shadow: 0 0 4px black;
}
div a h3{
    font-size: large;
    padding-top: 20px;
}
}
div.column{
    contain: content;
    margin: 0;
    padding: 0;
    }